<i class="fab fa-twitter size"></i>
<h1>Twitterにログイン</h1>

<%= form_with url: login_path, locale: true do |f| %>
<div class="field">
  <%= f.text_field :email, value: "電話番号またはメールアドレス", id: 'form' %>
</div>

<div class="field">
  <%= f.password_field :password, value: "パスワード", id: 'form' %>
</div>

<div>
  <%= f.submit "ログイン", id: 'bottan'%>
</div>
<%= link_to("サインアップ", new_user_path)%>
<% end %>
