<h1>新規登録</h1>

<%= form_with model: @user, url: user_path, locale: true do |f| %>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

<div class="">
  <%= f.submit "sing up"%>
</div>

</div>
<%= link_to("ログイン","login_path") %>
<% end %>
